<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70695782355-u0oofu7feed275fjnhb32ud0d637rkma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70695782355-u0oofu7feed275fjnhb32ud0d637rkma</string>
	<key>API_KEY</key>
	<string>AIzaSyBuPWkr6jOWUVZtQweL_HQecJ8Y3SmhWZs</string>
	<key>GCM_SENDER_ID</key>
	<string>70695782355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garza.visuamos</string>
	<key>PROJECT_ID</key>
	<string>visuamos-df285</string>
	<key>STORAGE_BUCKET</key>
	<string>visuamos-df285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70695782355:ios:a8a9f5495612dbbf96d126</string>
</dict>
</plist>